.Modal {
  margin-top: 100px;
  height: 500px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100vh);
  z-index: 40;
  opacity: 0;
  animation-name: showModal;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}

@keyframes showModal {
  0% {
    transform: translate(-50%, -100vh);
    opacity: 0;
  }
  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
